* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.progress-bar {
  width: 350px;
  height: 20px;
  background-color: rgb(207, 207, 207);
  position: absolute;
  inset: 0;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  margin: auto;
  border-radius: 30px;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: limegreen;
  border-radius: inherit;
}

.loading {
  width: max-content;
  height: max-content;
  font-size: 30px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}